@import '../../assets/styles/_functions.scss';

form {
  .invalid, .error {
    background: red;
    color: #fff;
  }

  // submit button publish recipe
  button {
    cursor: pointer;
  }

  input, textarea {
    width: 100%;
  }

  /*select {
    -webkit-appearance: menulist;
  }*/

  label {
    display: block;
  }
}

input, textarea, select {
  border-radius: 3px;
  padding: rem-calc(5px 10px);
  border: 1px solid grey;
}