@import './assets/styles/_functions.scss';
@import './assets/styles/_extends.scss';
@import './assets/styles/_colors.scss';

.loading {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto;

  &::after {
    content: ' ';
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid $brand;
    border-color: $brand transparent $brand transparent;
    animation: loader-animation 1.2s linear infinite;
  }
}

@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.title {
  margin-bottom: rem-calc(15px);
  font-size: rem-calc(22px);
}

.error-message, .success-message {
  @extend %border-radius;
  padding: rem-calc(15px);
}

.error-message {
  border: 1px solid $error-border;
  background-color: $error-background;
  color: $error-text;
}

.success-message {
  border: 1px solid $success-border;
  background-color: $success-background;
  color: $success-text;
}


form {
  .error {
    border: 1px solid $error-border;
    background-color: $error-background;
    color: $error-text;
  }

  .input-feedback {
    font-size: rem-calc(12px);
  }

  // submit button
  button {
    @extend %border-radius;
    cursor: pointer;
    padding: rem-calc(7px 10px);
    border: 1px solid $brand;
    background: $brand;
    color: white;

    &:hover {
      border: 1px solid $brand;
      background: white;
      color: $brand;
    }
  }

  input, textarea, select {
    @extend %border-radius;
    margin-top: rem-calc(3px);
    padding: rem-calc(5px);
    width: 100%;
    border: 1px solid grey;
  }

  label {
    margin-bottom: rem-calc(10px);
    display: block;
  }
}